  <%= link_to bookmark_path(bookmark) do %>
  <div class="flex flex-row">
    <div class="h-40 flex flex-col justify-end">
      <%= image_tag 'book01.png', class: 'h-32' %>
    </div>
    <% if request.url.include?("commit") %>
    <div class="flex flex-col justify-end">
      <%= render 'detail', bookmark: bookmark %>
    </div>
    <% end %>
  </div>
  <% end %>
