<div class="card-actions place-content-center">
  <%= link_to edit_bookmark_path do %>
    <i class="fa-regular fa-pen-to-square fa-lg mr-2"></i>
  <% end %>
  <i class="fa-solid fa-trash-can fa-lg"></i>
</div>
