<div class="card-actions place-content-center">
  <%= link_to edit_bookmark_path do %>
    <i class="fa-regular fa-pen-to-square fa-lg mr-2"></i>
  <% end %>
  <%= button_to bookmark_path, method: :delete, data: { turbo_confirm: t('defaults.messages.delete_confirm') } do %>
    <i class="fa-solid fa-trash-can fa-lg"></i>
  <% end %>
</div>
