<h1><%= t'.title' %></h1>
        <% if @bookmarks.present? %>
          <div class="flex flex-row">
            <%= render @bookmarks %>
          </div>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
<div class="mt-6 w-auto">
  <%= render 'search_form', url: bookmarks_path %>
</div>
