<div class="container w-1/3 mx-auto mt-40 flex justify-center items-center">
  <article class="prose lg:prose-xl">
  <H1 class="font-mplus">ブクマ図書館</H1>
  <p class="mplus">
    ブックマークを登録すると本棚に本が並ぶ</br>
    ブックマーク管理サービスです。
  </p>
</article>
</div>
