<div class="container w-2/3 mx-auto pt-20 flex justify-center items-center flex-col">
  <%= image_tag 'topimage01.png', class: 'flex-none' %>
  <div class="flex flex-row justify-center items-center">
    <div class="w-1/2">
      <%= image_tag 'desc01.png', size: '380x150' %>
    </div>
    <div class="w-1/2 flex justify-center">
      <%= link_to '#guide' do %>
        <%= image_tag 'howtocat03.png', size: '220x150', class: 'flex-none hover:animate-bounce' %>
      <% end %>
    </div>
  </div>
</div>
<div id="guide">
  <h2 class="mt-40">How to Use<h2>
  <p>test</p>
  <p>test</p>
    <p>test</p>
      <p>test</p>
        <p>test</p>
          <p>test</p>
            <p>test</p>
  <p>test</p>
  <p>test</p>
    <p>test</p>
      <p>test</p>
        <p>test</p>
          <p>test</p>
            <p>test</p>
  <p>test</p>
  <p>test</p>
    <p>test</p>
      <p>test</p>
        <p>test</p>
          <p>test</p>
            <p>test</p>
  <p>test</p>
  <p>test</p>
    <p>test</p>
      <p>test</p>
        <p>test</p>
          <p>test</p>
            <p>test</p>
</div>
