<div class="container mx-auto w-3/5 bg-white bg-opacity-70 p-6 mt-10 rounded-lg">
  <div class="w-fit mx-auto mt-8">
    <h1 class="font-bad text-4xl font-semibold text-secondary">Sign Up</h1>
  </div>
  <div class="container mx-auto w-2/3 my-8">
    <%= render "form", user: @user %>
  </div>
  <div class="flex flex-row justify-center">
    <%= link_to t('defaults.terms'), terms_path, class:'text-accent link mr-3' %>
    <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class:'text-accent link' %>
  </div>
</div>
