<% flash.each do |message_type, message| %>
  <div data-controller="flash" role="alert" class="alert alert-success flex justify-center absolute top-1 m-auto left-0 right-0 z-50 opacity-75 w-1/3">
    <%= message %>
    <button type="button" data-action="click->flash#dismiss">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>
<% end %>
