<div class="w-fit mx-auto mt-8">
  <h1 class="font-mplus text-xl text-secondary"><%= t'.title' %></h1>
</div>
<div class="card w-3/5 mt-6 mx-auto bg-white opacity-75">
  <div class="overflow-auto">
    <table class="table my-8 w-4/5 mx-auto">
      <thead>
        <tr>
          <th><%= Tag.human_attribute_name(:name) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tags %>
      </tbody>
    </table>
  </div>
</div>
